
    {% extends "base.html" %}

    {% block title %}Delete Image - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/add_delete_edit.css') }}">
    {% endblock %}
    
    {% block content %}
        <h2 class="tittle_add" >Delete Image</h2>
        <p class="sure">Are you sure you want to delete this image?</p>
    
        {% if image %}  <!-- Ensure image is not None -->
            <img class="delete-img" src="{{ url_for('static', filename=image.image_path) }}" alt="Image" width="100">
        {% else %}
            <p><strong>Error:</strong> No image found.</p>
        {% endif %}
    
        <form method="POST">
            {{ form.hidden_tag() }}  <!-- Add this for CSRF protection -->
            <button class="button" type="submit">Delete</button>
            <a href="{{ url_for('image.image_list') }}">Cancel</a>
        </form>
    {% endblock %}
