
    {% extends "base.html" %}
    
    {% block title %}Register - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/add_delete_edit.css') }}">
    {% endblock %}
    
    {% block content %}
     
    <!-- edit_image.html -->
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div style="text-align:center; margin-bottom:10px;">
        <img src="{{ url_for('static', filename=image.image_path) }}" alt="Current image" style="max-width:200px; border-radius:8px;">
    </div>

    <p>
        {{ form.category.label }}<br>
        {{ form.category }}
    </p>
    <p>
        {{ form.japanese_word.label }}<br>
        {{ form.japanese_word }}
    </p>
    <p>
        {{ form.pronunciation.label }}<br>
        {{ form.pronunciation }}
    </p>

    <button class="button" type="submit">Update</button>
    <a class="cancel" href="{{ url_for('image.image_list') }}">Cancel</a>
</form>  
{% endblock %}