
    {% extends "base.html" %}

    {% block title %}Dictionary - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/dictionary.css') }}">
    {% endblock %}

    {% block content %}
    <div class="dictionary-container">
        <h2 class="tittle-dictionary">Visual Dictionary</h2>

        <div class="card">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Category</th>
                        <th>Japanese Word</th>
                        <th>Pronunciation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% if entries %}
                    {% for entry in entries %}
                    <tr>
                        <td>
                            
                            <img src="{{ url_for('static', filename=entry.image_path) }}" width="100" alt="Image">
                        </td>
                        <td>{{ entry.category }}</td>
                        <td class="japa-word">{{ entry.japanese_word }}</td>
                        <td>{{ entry.pronunciation }}</td>
                        <td>
                            <button class="btn btn-edit"
                                onclick="window.location.href='{{ url_for('image.edit_image', image_id=entry.id) }}'">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-delete"
                                onclick="window.location.href='{{ url_for('image.delete_image', image_id=entry.id) }}'">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="6">No data found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
