
    {% extends "base.html" %}
    
    {% block title %}Home - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    
    {% block content %}
    
    <p>Start your journey in learning Japanese through fun quizzes.</p>
    <h1 class="title-flash">Japanese flash Cards</h1>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2 class="title-flash">Word List:</h2>
    <div class="flashcards-container">
        {% for i in range(0, words|length, 5) %}
            <div class="flashcard">
                <h3>Card {{ loop.index }}</h3>
                <ul>
                    {% for word in words[i:i+5] %}
                        <li>
                            <h6><strong>{{ word.japanese }}</strong> - <b class="word-english">{{ word.english }}</b>
                            {% if word.pronunciation %}
                                <br> {{ word.pronunciation }}</h6>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('flashcards.quiz', card_id=loop.index) }}" class="quiz-btn">Start Quiz</a>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
