{% extends "base.html" %}

{% block title %}Quiz - Nihongo Quest{% endblock %}

{% block extra_styles %}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<h1 class="title-flash">Japanese Quiz</h1>
<h3 class="text-flash">What is the meaning of?...</h3>

<form action="{{ url_for('flashcards.quiz', card_id=card_id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    {% for word in selected_words %}
        <div class="flashcard">
            <h3><strong>"{{ word.japanese }}"</strong></h3>
            <input type="text" name="answer_{{ word.id }}"
            class="flashcard-input {% if feedback and feedback[word.id] == 'correct' %}correct{% elif feedback and feedback[word.id] == 'incorrect' %}incorrect{% endif %}">
        </div>
    {% endfor %}
    
    <button type="submit" class="quiz-btn">Submit</button>
</form>

<a href="/" class="quiz-btn">Return to Home</a>
{% endblock %}
