/* title */

.tittle_add {
    font-size: 3rem;  
    font-weight: bold;
    text-align: center;
    color: #ff4646;
    text-shadow: 12px 12px 12px #2e0319;
    margin: 5%;
}

/* Text */

.how {
    font-size: 2rem;  
    font-weight: bold;
    text-align: center;
    color: #ff4646;
    text-shadow: 12px 12px 12px #2e0319;
    margin: 5%; 
}

.sure {
    font-size: 1rem;  
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 12px 12px 12px #2e0319;
    margin: 5%; 
}

.text-how {
    font-size: 1rem;  
    font-weight: bold;
    text-align: center;
    color: rgb(255, 142, 142);
    text-shadow: 12px 12px 12px #2e0319;
    margin: 5%; 
}

/* form */

form {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* Label */

label {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #f0f0f0; 
    font-weight: bold;
}

/* input */

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

/* botton */
.button {
    margin-top: 5px;
    border-radius: 10px;
}

button {
    background: linear-gradient(45deg,#ff3314 0%, #86070b 29% );
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 140, 0, 0.8);
}

/* Cancel button */

.cancel {
    background: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

/* Delete Image*/

.delete-img {
    margin-left: 45%;
}