/* General Styles */


.content {
    padding: 20px;
}

h2, h3 {
    color: #ff9595;
    text-shadow: 2px 2px red;
}


p {
    color: #ffffff;
    line-height: 1.6;
}

/* Card Styles */
.alphabet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2); /* Adjust transparency */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 120px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}


.card:hover {
    transform: scale(3.3);
    z-index: 3;
}

.character {
    font-size: 32px;
    font-weight: bold;
    color: #fc8585;
    text-shadow: 2px 2px red;
}

.meaning {
    font-size: 16px;
    color: #ffa6a6;
    margin-top: 5px;
}

.romaji {
    font-size: 14px;
    color: #ffffff;
    margin-top: 3px;
}

/* Button Styles */
.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #ff6b81;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #e84118;
}

/* Footer */
footer {
    margin-top: 30px;
    padding: 15px;
    background-color: #ff4757;
    color: white;
}