:root {
    --japanese-red: #9D0A0E;
    --dark-red: #6D0003;
    --black: #000;
}

body, html {
    display: flex;
    flex-direction: column;
    background-color: #ff793b;
    background: linear-gradient(108deg, #ff3314 0%, #86070b 29%, #43031a 75%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-image: url(/static/images/duotone-lamp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 142, 142);
    margin-top: 5%;
}

main {
    flex: 1;  /* Pushes the footer down */
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar-brand img {
    width: 40px; /* Adjust width */
    height: auto;
    border-radius: 10px; /* Optional: rounded corners */
}


.logo {
    font-size: 180%;
    text-shadow: 2px 2px red;
}

.logo-header {
    color: rgb(255, 142, 142);
    font-size: 380%;
    text-shadow: 2px 2px rgb(56, 0, 59);
}
.navbar {
    background: var(--dark-red);
}
.navbar-brand, .nav-link {
    color: white !important;
}

.footer {
    text-align: center;
    padding: 20px;
    background: var(--dark-red);
    color: white;
}

/* Style register*/

.resgiter {
    margin-top: 50%;
}
