:root {
    --japanese-red: #9D0A0E;
    --dark-red: #6D0003;
    --black: #000;
}

body {
    background-color: #C40233;
}

html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    background-image: url(/static/images/duotone-lamp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex: 1;  /* Pushes the footer down */
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}


.logo {
    font-size: 180%;
    text-shadow: 2px 2px red;
}

.logo-header {
    font-size: 380%;
    text-shadow: 2px 2px rgb(49, 45, 45);
}
.navbar {
    background: var(--dark-red);
}
.navbar-brand, .nav-link {
    color: white !important;
}

.footer {
    text-align: center;
    padding: 20px;
    background: var(--dark-red);
    color: white;
}