/* Global Styles */


.hero {
    text-align: center;
    color: rgb(255, 142, 142);
}

.hero h1 {
    font-size: 3em;
}

.hero h3 {
    font-size: 1.5em;
}

.search {
    text-align: center;
    padding: 20px;
    color: rgb(255, 142, 142);
}

.search input {
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.search button {
    padding: 10px;
    font-size: 1.2em;
    background-color: rgb(71, 6, 42); 
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.manga-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.manga-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.manga-card:hover {
    transform: scale(1.2) rotate(3deg); /* Slight zoom & rotate */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* More shadow */
}

.manga-cover {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.manga-title {
    font-size: 16px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px red;
}

.manga-synopsis {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(255, 243, 249);
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manga-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.manga-card a:hover {
    text-decoration: underline;
}