
{% extends "base.html" %}

{% block title %}Add New Entry - Nihongo Quest{% endblock %}

{% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/add_delete_edit.css') }}">
{% endblock %}

{% block content %}
<h2 class="tittle_add">Add New Entry to Dictionary</h2>
<h4 class="how">How use Add Visual Dictionary?</h4>
<p class="text-how">
    The Visual Dictionary is an interactive learning tool that helps you associate images with Japanese words. Observe, explore, and capture visuals while writing the corresponding Japanese words and their pronunciation. Contribute to the Nihongo Quest community and enhance your language-learning journey!
</p>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<!-- Form -->
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <label>Image:</label>
    {{ form.image(class="form-control") }}

    <label>Category:</label>
    {{ form.category(class="form-control") }}

    <label>Japanese Word:</label>
    {{ form.japanese_word(class="form-control") }}

    <label>Pronunciation:</label>
    {{ form.pronunciation(class="form-control") }}

    <button type="submit" class="button">Add Entry</button>
</form>

{% endblock %}