<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Register - Nihongo Quest{% endblock %}
    <h2>Add New Entry to Dictionary</h2>
    
    <form method="POST" action="{{ url_for('task_routes.add_image') }}" enctype="multipart/form-data">
        <label>Image:</label>
        <input type="file" name="image" required>
    
        <label>Category:</label>
        <select name="category" required>
            <option value="Object">Object</option>
            <option value="Verb">Verb</option>
            <option value="Fruit">Fruit</option>
            <option value="Street">Street</option>
            <option value="Shop">Shop</option>
            <option value="Animals">Animals</option>
            <option value="Plants">Plants</option>
            <option value="People">People</option>
        </select>
    
        <label>Japanese Word:</label>
        <input type="text" name="japanese_word" required>
    
        <label>Pronunciation:</label>
        <input type="text" name="pronunciation" required>
    
        <button type="submit">Add Entry</button>
    </form>
    {% block content %}
    {% endblock %}
</body>
</html>