
    {% extends "base.html" %}
    
    {% block title %}Register - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/add_delete_edit.css') }}">
    {% endblock %}
    
    {% block content %}
     
    <!-- edit_image.html -->
     <h2 class="tittle_add">Edit Image</h2>
     <form method="POST" enctype="multipart/form-data">
         {{ form.hidden_tag() }}
         <p>
             {{ form.image.label }}<br>
             {{ form.image }}
         </p>
         <p>
             {{ form.category.label }}<br>
             {{ form.category }}
         </p>
         <p>
             {{ form.japanese_word.label }}<br>
             {{ form.japanese_word }}
         </p>
         <p>
             {{ form.pronunciation.label }}<br>
             {{ form.pronunciation }}
         </p>
         <button class="button" type="submit">Update</button>
         <a class="cancel" href="{{ url_for('task.dictionary') }}">Cancel</a>
     </form>
    {% endblock %}
