/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.hero {
    text-align: center;
    color: white;
    text-shadow: 2px 2px red;

}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

.search {
    text-align: center;
    padding: 20px;
    color: white;

}

.search input {
    padding: 10px;
    font-size: 1.2em;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.search button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #ff6347;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.manga-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.manga-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.manga-cover {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.manga-title {
    font-size: 16px;
    margin-top: 10px;
}

.manga-synopsis {
    font-size: 14px;
    margin-top: 10px;
    color: #555;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.manga-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ff6347;
    font-weight: bold;
}

.manga-card a:hover {
    text-decoration: underline;
}