<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Home - Nihongo Quest{% endblock %}
    
    {% block content %}
    <h2>Delete Word</h2>
    <p>Are you sure you want to delete the word "{{ word.japanese }} - {{ word.english }}"?</p>
    
    <form method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{{ url_for('add_word') }}" class="btn btn-secondary">Cancel</a>
    </form>
    {% endblock %}
</body>
</html>