<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_delete_edit.css') }}">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Home - Nihongo Quest{% endblock %}
    
    {% block content %}
    <h2 class="tittle_add" >Edit Word</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <label for="japanese">Japanese:</label>
        {{ form.japanese(class="form-control") }}
    
        <label for="english">English:</label>
        {{ form.english(class="form-control") }}
    
        <label for="pronunciation">Pronunciation:</label>
        {{ form.pronunciation(class="form-control") }}
    
        <button type="submit" class="button">Update Word</button>
    </form>
    {% endblock %}
</body>
</html>