
    {% extends "base.html" %}
    
    {% block title %}Register - Nihongo Quest{% endblock %}

    {% block extra_styles %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/loging_register.css') }}">
    {% endblock %}
    
    {% block content %}
    <h1 class="title-login">Login</h1>
    <form method="POST">
        <!-- CSRF token --> <!-- Use this instead of the manual CSRF token input-->
         {{ form.hidden_tag() }}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" required>
        <label for="password">Password</labiel>
        <input type="password" name="password" placeholder="Password" required>
        <button class="button" type="submit">Login</button>
    </form>
    <p class="reg-here-text" >Don't have an account? <a class="reg-here" href="{{url_for('register') }}">Register here</a></p>
    {% endblock %}
