<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Japanese Quiz</h1>

   <form action="{{ url_for('quiz')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    {% for word in words %}
       <p>What is the meaning of "{{ word.japanese }}"?</p>
       <input type="text" name="answer_{{ word.id }}"
       class="{% if feedback and feedback[word.id] == 'correct' %}correct{% elif feedback and feedback[word.id] == 'incorrect' %}incorrect{% endif %}">
    {% endfor %}
     <button type="submit">Submit</button>
   </form>
    <a href="/">Return to Home</a>
</body>
</html>
