<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanji</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alphabet.css') }}">
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Register - Nihongo Quest{% endblock %}
    
    {% block content %}
    
    <div class="content">
        <h2>Kanji Characters</h2>
        <div class="alphabet">
            {% for character in characters %}
            <div class="card">
                <div class="character">{{ character.character }}</div>
                <div class="meaning">{{ character.meaning }}</div>
                <div class="romaji">{{ character.romaji }}</div>
            </div>
            {% endfor %}
        </div>

        <div class="buttons">
            <a href="{{ url_for('alphabet.alphabet') }}" class="btn">Back to Alphabet Overview</a>
            <a href="{{ url_for('alphabet.hiragana') }}" class="btn">Learn Hiragana</a>
            <a href="{{ url_for('alphabet.katakana') }}" class="btn">Learn Katakana</a>
        </div>
    </div>
    {% endblock %}
</body>
</html>